body {
  font-family: Arial, sans-serif;
  background-color: #ccc;
  margin: 0;
  padding: 0;
}

.tareas {
  margin: auto;
  position: relative;

}

.container {
  max-width: 1500px;
  margin: 40px auto;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-weight: bold;
  margin-top: 0;
}

.card-text {
  font-size: 16px;
  color: #666;
}